@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classes personnalisées */
.search-button svg {
  color: #fff;
}

.search-button:hover svg,
.search-button:focus svg {
  color: #000;
}

.hidden {
  display: none;
}

.header-bg-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.hide-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.open-border-radius {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.closed-border-radius {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.selected-item {
  display: flex;
  justify-content: space-between; /* Espace le texte et la croix */
  align-items: center; /* Centre verticalement */
  padding-right: 11px;
  padding-left: 16px;
}

.show-toast {
  position: fixed;
  right: -300px; /* Initialement hors de l'écran */
  top: 10px;
  padding: 1rem 2rem;
  background-color: #3490dc;
  color: #fff;
  border-radius: 8px;
  opacity: 0; /* Invisible par défaut */
  transition:
    right 0.3s ease-out,
    opacity 0.3s ease-out;
  z-index: 1000;
}

.show-toast.visible {
  right: 10px;
  opacity: 1;
}
